APP_NAME="NPM Gateway"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/npm-gateway/public
APP_TIMEZONE=America/New_York
APP_KEY=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SSL_CA=

MIGRATION_DB_HOST=
MIGRATION_DB_PORT=
MIGRATION_DB_NAME=
MIGRATION_DB_USER=
MIGRATION_DB_PASSWORD=
MIGRATION_DB_SSL_CA=

SESSION_NAME=npm_gateway_session
SESSION_SECURE=false
