/.env
/vendor/
/.phpunit.cache/
/.phpunit.result.cache
/.idea/
/.vscode/
*.code-workspace
.DS_Store
Thumbs.db
Desktop.ini

/storage/logs/*
!/storage/logs/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/sessions/*
!/storage/sessions/.gitkeep
/storage/temporary/*
!/storage/temporary/.gitkeep
/storage/uploads/*
!/storage/uploads/.gitkeep
/storage/exports/*
!/storage/exports/.gitkeep
/storage/certificates/*
!/storage/certificates/.gitkeep
